@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
@import url("https://api.fontshare.com/css?f[]=poppins@400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600");
@import url("https://api.fontshare.com/css?f[]=inter@400,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neue Montreal:wght@400;500;700");
@import url("https://api.fontshare.com/css?f[]=neue montreal@400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700");
@import url("https://api.fontshare.com/css?f[]=montserrat@400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Circular Std:wght@400");
@import url("https://api.fontshare.com/css?f[]=circular std@400&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

input {
  background-image: none;
  background-color: transparent;
}
